	<div class="auth-container header-select-list" style="left: 377.141px; top: 32px;">
		<div class="auth-tabs">
			<div class="auth-tab auth-tab-sign-in auth-tab-current">Iniciar sesión</div>
			<div class="auth-tab auth-tab-sign-up">Registrarse</div>
		</div>
		<div class="auth-sign-in-up auth-section">
			<div class="auth-remind-link">¿Contraseña olvidada?</div>
			<form class="auth-sign-in-form auth-form clearfix" action="#" method="POST">
				<input value="e6FM4D1H5iuHC5NrUfhNpUWQXfNzZeqK" name="csrfmiddlewaretoken" type="hidden">
				<input value="/" name="next" type="hidden">
				<input class="auth-sign-in-login auth-input label-input-label" type="text" name="username" maxlength="100" placeholder="correo electrónico" aria-label="correo electrónico">
				<input class="auth-sign-in-password auth-input label-input-label" type="password" name="password" placeholder="contraseña" aria-label="contraseña">
				<button class="auth-sign-in-submit button button-dark-blue" type="submit">Iniciar sesión</button>
			</form>
		</div>
		<div class="auth-misc auth-section">
			<div class="auth-social">
				<h4 class="auth-title">O iniciar sesión con:</h4>
				<div class="social-auth social-auth-gl">Google+</div>
				<div class="social-auth social-auth-fb">Facebook</div>
			</div>
			<dl class="auth-benefits"><dt class="auth-title">¿Por qué registrarse?</dt>
				<dd class="auth-benefits-item">
					<svg class="ota-svgicon auth-benefits-item-icon" width="15.272727272727272px" height="12px" viewBox="0 0 28 22" xmlns="http://www.w3.org/2000/svg">
						<defs></defs>
						<g class="ota-svgicon-inner">
							<path class="auth-benefits-item-icon-path" d="M27.359,3.794L9.907,21.246L0,11.181l3.039-3.039l6.536,5.25L24.32,0.754L27.359,3.794z"></path>
						</g>
					</svg>Obtener acceso a ofertas especiales</dd>
				<dd class="auth-benefits-item">
				<dd class="auth-benefits-item">
					<svg class="ota-svgicon auth-benefits-item-icon" width="15.272727272727272px" height="12px" viewBox="0 0 28 22" xmlns="http://www.w3.org/2000/svg">
						<defs></defs>
						<g class="ota-svgicon-inner">
							<path class="auth-benefits-item-icon-path" d="M27.359,3.794L9.907,21.246L0,11.181l3.039-3.039l6.536,5.25L24.32,0.754L27.359,3.794z"></path>
						</g>
					</svg>Guarda tus datos personales y tus hoteles favoritos</dd>
			</dl>
		</div>
		<div class="auth-offer-notice">Al hacer clic en “Registrarse”, estarás
			<br><a target="_blank" class="auth-offer-notice-link" href="https://ostrovok.ru/legal/site/privacy/"> aceptando los términos del consentimiento para el tratamiento de datos personales</a>.</div>
	</div>