<form class="form-inline">
	<fieldset>
		<legend>Registro</legend>

		<!-- Text input http://getbootstrap.com/css/#forms -->
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-addon" id="spannombre">Nombre</span>
					<input type="text" class="form-control" placeholder="Nombre Fantasia" required maxlength="60">
				</div>
			</div>
		</div>
		<br>
		<!-- RUT Y CONTACTO-->
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">RUT</span>
					<input type="text" class="form-control" placeholder="RUT Comercial" maxlength="20">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Contacto">
				</div>
			</div>
		</div>
		<br>
		<!--DIRECCION-->
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-addon" id="spandireccion">Direccion</span>
					<input type="text" class="form-control" id="inputdireccion" placeholder="Calle" required>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="input-group">
					<input type="text" class="form-control" id="inputdireccionnumero" placeholder="Número" required>
				</div>
			</div>
		</div>
		<br>
	<!--CIUDAD-->
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group input-append dropdown combobox" data-initialize="combobox" id="inputwithcombobox">
					<span class="input-group-addon">Ciudad</span>
					<div class="input-group-btn">
						<select name="ciudad" id="" class="form-control">
							<option value="" class="value">CIUDAD</option>
							<option value="San Antonio">San Antonio</option>
							<option value="Algarrobo">Algarrobo</option>
							<option value="Cartagena">Cartagena</option>
							<option value="El Quisco">El Quisco</option>
							<option value="El Tabo">El Tabo</option>
							<option value="Santo Domingo">Santo Domingo</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<br>
		<!-- REGIONES -->
<div class="row">
			<div class="col-lg-6">
		<div class="input-group input-append dropdown combobox" data-initialize="combobox" id="inputwithcombobox">
			<span class="input-group-addon">Region</span>
			<div class="input-group-btn">
				<select class="form-control" name="region" id="">
					<option value="" class="value">REGION</option>
					<option class="data-value">ARICA Y PARINACOTA</option>
					<option class="data-value">TARAPACÁ</option>
					<option class="data-value">ANTOFAGASTA</option>
					<option class="data-value">ATACAMA</option>
					<option class="data-value">COQUIMBO</option>
					<option class="data-value">VALPARAÍSO</option>
					<option class="data-value">DEL LIBERTADOR GRAL. BERNARDO O'HIGGINS</option>
					<option class="data-value">DEL MAULE</option>
					<option class="data-value">DEL BIOBÍO</option>
					<option class="data-value">DE LA ARAUCANÍA</option>
					<option class="data-value">DE LOS RÍOS</option>
					<option class="data-value">DE LOS LAGOS</option>
					<option class="data-value">AISÉN DEL GRAL. CARLOS IBAÑEZ DEL CAMPO</option>
					<option class="data-value">MAGALLANES Y DE LA ANTÁRTICA CHILENA</option>
					<option class="data-value">METROPOLITANA DE SANTIAGO</option>
				</select>
			</div>
		</div>
		<input type="text" class="form-control" id="textinput" placeholder="Codigo Postal" required="" size="10">
	</div>
</div>
		<br>

		<!-- Aqui vamos-->
		<!-- Text input http://getbootstrap.com/css/#forms -->
		<div class="form-group">
			<label for="textinput" class="control-label">Fono</label>

			<input type="tel" class="form-control" id="textinput" placeholder="Fono Fijo" required="">



		</div>
		<!-- Text input http://getbootstrap.com/css/#forms -->
		<div class="form-group">
			<label for="inputmovil" class="control-label">Movil</label>

			<input type="tel" class="form-control" id="inputmovil" placeholder="+56 9 " required="">
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> whatsapp
			</label>
		</div>
		<!-- Input With Combobox http://getfuelux.com/javascript.html#combobox -->
		<div class="form-group">
			<label class="control-label" for="inputwithcomboboxInput">Tipo Habitacion</label>

			<div class="input-group input-append dropdown combobox" data-initialize="combobox" id="inputwithcombobox">
				<input id="inputwithcomboboxInput" name="inputwithcomboboxInput" type="text" aria-label="" class="form-control" placeholder="placeholder" required="">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" aria-label="Tipo Habitacion autofill suggestions" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li data-value="Option one"><a href="#">Option one</a></li>
						<li data-value="Option two"><a href="#">Option two</a></li>
						<li data-value="Option three"><a href="#">Option three</a></li>
						<li data-value="Otras"><a href="#">Otras</a></li>
					</ul>
				</div>

			</div>
			<p class="help-block">help</p>

		</div>
		<!-- Bootstrap Select http://getbootstrap.com/css/#selects -->
		<div class="form-group">
			<label class="control-label" for="bootstrapselect">Medios de Pago</label>
			<div class="controls ">
				<select id="bootstrapselect" name="bootstrapselect" class="form-control" multiple="" required="">
					<option>Option one</option>
					<option>Option two</option>
				</select>

			</div>
		</div>

		<!-- Text input http://getbootstrap.com/css/#forms -->
		<div class="form-group">
			<label for="textinput" class="control-label">Otros</label>

			<input type="text" class="form-control" id="textinput" placeholder="Otros" required="">
			<p class="help-block">help</p>

		</div>
		<!-- Fuel UX Checkboxes http://getfuelux.com/javascript.html#checkbox -->
		<div class="form-group">
			<label for="checkboxes" class="control-label">Servicios</label>
			<div class=" required">
				<div class="checkbox">
					<label class="checkbox-custom" data-initialize="checkbox" id="checkboxes-0">
						<input class="sr-only" name="checkboxes" type="checkbox" value="Option one">
						<span class="checkbox-label">Option one</span>
					</label>
				</div>
				<div class="checkbox">
					<label class="checkbox-custom" data-initialize="checkbox" id="checkboxes-1">
						<input class="sr-only" name="checkboxes" type="checkbox" value="Option two">
						<span class="checkbox-label">Option two</span>
					</label>
				</div>

			</div>
		</div>
		<!-- Input With Combobox http://getfuelux.com/javascript.html#combobox -->
		<div class="form-group">
			<label class="control-label" for="inputwithcomboboxInput">Tipo Mascota</label>

			<div class="input-group input-append dropdown combobox" data-initialize="combobox" id="inputwithcombobox">
				<input id="inputwithcomboboxInput" name="inputwithcomboboxInput" type="text" aria-label="" class="form-control" placeholder="placeholder" required="">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" aria-label="Tipo Mascota autofill suggestions" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li data-value="Option one"><a href="#">Option one</a></li>
						<li data-value="Option two"><a href="#">Option two</a></li>
						<li data-value="Option three"><a href="#">Option three</a></li>
					</ul>
				</div>

			</div>


		</div>
		<!-- Button http://getbootstrap.com/css/#buttons -->
		<div class="form-group">
			<label class="control-label" for="singlebutton"></label>
			<div class="text-right">
				<button type="button" id="singlebutton" name="singlebutton" class="btn btn-primary" aria-label="">Guardar</button>
				<p class="help-block">help</p>
			</div>
		</div>


	</fieldset>
</form>