<form >
<fieldset>



<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input http://getbootstrap.com/css/#forms -->
<div class="form-group">
  <label for="inputname" class="control-label">Nombre</label>
  
    <input type="text" class="form-control" id="inputname" placeholder="nombre fantasia" required="">
    
  
</div>
<!-- Text input http://getbootstrap.com/css/#forms -->
<div class="form-group">
  <label for="inputrut" class="control-label">RUT</label>
  
    <input type="text" class="form-control" id="inputrut" placeholder="RUT empresa" required="">
    
  
</div>
<!-- Text input http://getbootstrap.com/css/#forms -->
<div class="form-group">
  <label for="inputcontact" class="control-label">Contacto</label>
  
    <input type="text" class="form-control" id="inputcontact" placeholder="placeholder" required="">
    
  
</div>
<!-- Text input http://getbootstrap.com/css/#forms -->
<div class="form-group">
  <label for="inputdireccion" class="control-label">Direccion</label>
  
    <input type="text" class="form-control" id="inputdireccion" placeholder="Calle" required="">
    
  
</div>
<!-- Text input http://getbootstrap.com/css/#forms -->
<div class="form-group">
  <label for="inputdireccionnumero" class="control-label">Nº</label>
  
    <input type="number" class="form-control" id="inputdireccionnumero" placeholder="Número" required="">
    
  
</div>
<!-- Input With Combobox http://getfuelux.com/javascript.html#combobox -->
<div class="form-group">
  <label class="control-label" for="inputwithcomboboxInput">Ciudad</label>
  
    <div class="input-group input-append dropdown combobox" data-initialize="combobox" id="inputwithcombobox">
      <input id="inputwithcomboboxInput" name="inputwithcomboboxInput" type="text" aria-label="" class="form-control" placeholder="Ciudad" required="">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" aria-label="Ciudad autofill suggestions" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li data-value="Option one"><a href="#">Option one</a></li>
          <li data-value="Option two"><a href="#">Option two</a></li>
          <li data-value="Option three"><a href="#">Option three</a></li>
        </ul>
      </div>
      
    </div>
    
  
</div>
<!-- Input With Combobox http://getfuelux.com/javascript.html#combobox -->
<div class="form-group">
  <label class="control-label" for="inputwithcomboboxInput">Region</label>
  
    <div class="input-group input-append dropdown combobox" data-initialize="combobox" id="inputwithcombobox">
      <input id="inputwithcomboboxInput" name="inputwithcomboboxInput" type="text" aria-label="" class="form-control" placeholder="Region" required="">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" aria-label="Region autofill suggestions" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li data-value="Option one"><a href="#">Option one</a></li>
          <li data-value="Option two"><a href="#">Option two</a></li>
          <li data-value="Option three"><a href="#">Option three</a></li>
        </ul>
      </div>
      
    </div>
    <p class="help-block">help</p>
  
</div>
<!-- Text input http://getbootstrap.com/css/#forms -->
<div class="form-group">
  <label for="textinput" class="control-label"></label>
  
    <input type="text" class="form-control" id="textinput" placeholder="Codigo Postal" required="">
    
  
</div>
<!-- Text input http://getbootstrap.com/css/#forms -->
<div class="form-group">
  <label for="textinput" class="control-label">Fono</label>
  
    <input type="tel" class="form-control" id="textinput" placeholder="Fono Fijo" required="">
    
  
</div>
<!-- Text input http://getbootstrap.com/css/#forms -->
<div class="form-group">
  <label for="inputmovil" class="control-label">Movil</label>
  
    <input type="tel" class="form-control" id="inputmovil" placeholder="+56 9 " required="">
    
  
</div>
<!-- Fuel UX Checkboxes http://getfuelux.com/javascript.html#checkbox -->
<div class="form-group">
  <label for="checkboxes" class="control-label">wasap</label>
  <div class="">
    <div class="checkbox">
      <label class="checkbox-custom" data-initialize="checkbox" id="checkboxes-0">
        <input class="sr-only" name="checkboxes" type="checkbox" value="Option one">
        <span class="checkbox-label">Option one</span>
      </label>
    </div>
    <p class="help-block">help</p>
  </div>
</div>
<!-- Input With Combobox http://getfuelux.com/javascript.html#combobox -->
<div class="form-group">
  <label class="control-label" for="inputwithcomboboxInput">Tipo Habitacion</label>
  
    <div class="input-group input-append dropdown combobox" data-initialize="combobox" id="inputwithcombobox">
      <input id="inputwithcomboboxInput" name="inputwithcomboboxInput" type="text" aria-label="" class="form-control" placeholder="placeholder" required="">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" aria-label="Tipo Habitacion autofill suggestions" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li data-value="Option one"><a href="#">Option one</a></li>
          <li data-value="Option two"><a href="#">Option two</a></li>
          <li data-value="Option three"><a href="#">Option three</a></li>
          <li data-value="Otras"><a href="#">Otras</a></li>
        </ul>
      </div>
      
    </div>
    <p class="help-block">help</p>
  
</div>
<!-- Bootstrap Select http://getbootstrap.com/css/#selects -->
<div class="form-group">
  <label class="control-label" for="bootstrapselect">Medios de Pago</label>
  <div class="controls ">
    <select id="bootstrapselect" name="bootstrapselect" class="form-control" multiple="" required="">
      <option>Option one</option>
      <option>Option two</option>
    </select>
    
  </div>
</div>

<!-- Text input http://getbootstrap.com/css/#forms -->
<div class="form-group">
  <label for="textinput" class="control-label">Otros</label>
  
    <input type="text" class="form-control" id="textinput" placeholder="Otros" required="">
    <p class="help-block">help</p>
  
</div>
<!-- Fuel UX Checkboxes http://getfuelux.com/javascript.html#checkbox -->
<div class="form-group">
  <label for="checkboxes" class="control-label">Servicios</label>
  <div class=" required">
    <div class="checkbox">
      <label class="checkbox-custom" data-initialize="checkbox" id="checkboxes-0">
        <input class="sr-only" name="checkboxes" type="checkbox" value="Option one">
        <span class="checkbox-label">Option one</span>
      </label>
    </div><div class="checkbox">
      <label class="checkbox-custom" data-initialize="checkbox" id="checkboxes-1">
        <input class="sr-only" name="checkboxes" type="checkbox" value="Option two">
        <span class="checkbox-label">Option two</span>
      </label>
    </div>
    
  </div>
</div>
<!-- Input With Combobox http://getfuelux.com/javascript.html#combobox -->
<div class="form-group">
  <label class="control-label" for="inputwithcomboboxInput">Tipo Mascota</label>
  
    <div class="input-group input-append dropdown combobox" data-initialize="combobox" id="inputwithcombobox">
      <input id="inputwithcomboboxInput" name="inputwithcomboboxInput" type="text" aria-label="" class="form-control" placeholder="placeholder" required="">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" aria-label="Tipo Mascota autofill suggestions" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li data-value="Option one"><a href="#">Option one</a></li>
          <li data-value="Option two"><a href="#">Option two</a></li>
          <li data-value="Option three"><a href="#">Option three</a></li>
        </ul>
      </div>
      
    </div>
    
  
</div>
<!-- Button http://getbootstrap.com/css/#buttons -->
<div class="form-group">
  <label class="control-label" for="singlebutton"></label>
  <div class="text-right">
    <button type="button" id="singlebutton" name="singlebutton" class="btn btn-primary" aria-label="">Guardar</button>
    <p class="help-block">help</p>
  </div>
</div>


</fieldset>
</form>
